body {
    background: linear-gradient(#ffffff, #e2eff7, #a2c8f3, #22c0ff);
    color: #fff;
    font-family: Arial, Impact,;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0; 
}
h1 {
    margin: 10;
    width: 100%;
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 135, 245);
    background-color: #889aca75;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
}
p {
    margin: 0px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-header{
    background: linear-gradient(#ffffff, #e2eff7, #a2c8f3, #22c0ff);
    color: #fff;
    font-family: Arial, Impact,;
    width: 100%;
    display: flex;
    height: 100vh;/* Set the body height to 100% of the viewport height */
    margin: 0;
    padding: 0; 
}
.login-form {
    width: 350px;
    height:80%;
    top: 54.25%;
    left: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #889aca75;
    color: rgb(0, 135, 245);
}
.login-form h1{
   font-size: 40px; 
   top: 50%;
   left: 50%;
   margin: 20px 0;
   color: rgb(0, 135, 245);
}
.login-form label{
    font-size: 20px;
    margin: 0px 5%;
}
.login-form input{
    font-size: 16px;
    width: 80%;
    padding: 10px;
    margin: 0px 5%;
    border: 0;
    outline: none;
    border-radius: 5px; 
}
.login-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 5%;
    padding: 10px 15px; 
    width: 50%;
    border-radius: 5px;
    border: 0;
}
.forecast-search{
    width: 40%;
    height: 80%;
    top:14.25%;
    left: 20%;
    position: absolute;
    background-color: #889aca75;
    color: rgb(0, 135, 245);
}
.forecast-search h1{
   font-size: 40px; 
   top: 50%;
   left: 50%;
   margin: 20px 0;
   color: rgb(0, 135, 245);
}
.forecast-search input{
    font-size: 16px;
    width: 80%;
    padding: 10px;
    margin: 10px 8%;
    border: 0;
    outline: none;
    border-radius: 5px; 
}
.forecast-search label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
.forecast-search button{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 33%;
    padding: 10px 15px; 
    width: 33%;
    border-radius: 5px;
    border: 0;
}


.reg-container {
    background-color: #889aca75;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}
.reg-container h1 {
    background-color: #889aca75;
    margin: 10px 0 20px;
    padding-top: 10px;
    padding-bottom:10px;
    text-align: center;
    align-items: center;
    font-size: 40px;
    }
.reg-container label {
    color: rgb(0, 135, 245);
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.reg-container input {
    font-size: 20px;
    width: 90%;
    height: 12px;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
}        
.reg-container button{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 33%;
    padding: 10px 15px; 
    width: 33%;
    border-radius: 5px;
    border: 0;
}