<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Login</title>
            <link rel= "stylesheet" href= "{{ url_for('static',filename='css/styles.css') }}">
        </head>

        <body style="background-color: rgb(255, 255, 255);">
            <div class="login-header">
                <h1>Weather App</h1>
            </div>
            <div class="login-form">
                <h1>Login</h1>
                {% if error %}
                <p style="color: rgb(0, 135, 245);">{{ error }}</p>
                {% endif %}
                <form method="POST" action="/">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="username">
                    <label>Password</label>
                    <input type="password" name= "password" placeholder="password">
                    <button type="submit">Login</button>
                </form>
                <div class="not-user">
                    <p>If you are not a user, click the button below to register.</p>
                    <a href="/register"><button type="submit">Register</button></a>
                </div>
            </div>
            <div class="forecast-search">
                <h1>Search</h1>
                {% if error %}
                <p style="color: rgb(0, 135, 245);">{{ error }}</p>
                {% endif %}
                <form action="/town" method="get">
                    <input type="text" name="searched_town" placeholder="Search (City, State Initial) or (Zipcode)...">
            </div>
            </body>
        </html>
    </html>